<div class="m-[17px]">
  <div
    class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full mb-1">
      <div class="mb-4">
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
        >
          Email Templates
        </h1>
      </div>
      <div class="sm:flex">
        <div
          class="items-center hidden mb-3 sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0 dark:divide-gray-700"
        >
          <form class="lg:pr-3" action="#" method="GET">
            <label for="users-search" class="sr-only">Search</label>
            <div class="relative mt-1 lg:w-64 xl:w-96">
              <input
                type="text"
                name="search"
                value="<%= search || '' %>"
                id="users-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Search for email templates"
              />
            </div>
          </form>
        </div>
        <div class="flex items-center ml-auto space-x-2 sm:space-x-3">
          <% if (user?.permissions?.includes("create_email_template")) { %>

          <a
            href="/email-template/create"
            type="button"
            class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            <svg
              class="w-5 h-5 mr-2 -ml-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            Add Email Template
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden shadow">
          <table
            class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
          >
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  SN.
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  From Name
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  From Email
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  Email Category
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  Email Subject
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  Status
                </th>
                <% if (user?.permissions?.includes("edit_email_template") ||
                user?.permissions?.includes("delete_email_templates")) { %>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                >
                  Actions
                </th>
                <% } %>
              </tr>
            </thead>
            <tbody
              class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
            >
              <% if (emailTemplates.length===0) { %>
              <tr>
                <td
                  colspan="7"
                  class="p-4 text-center text-gray-500 dark:text-gray-400"
                >
                  No templates found.
                </td>
              </tr>
              <% } else { %> <% for (let i=0; i < emailTemplates.length; i++) {
              %> <% const emailTemplate=emailTemplates[i]; %>

              <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                <td
                  class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <%= ((pagination.perPage * (pagination.currentPage - 1)) + i +
                  1) %>
                </td>
                <td
                  class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap"
                >
                  <div
                    class="text-sm font-normal text-gray-500 dark:text-gray-400"
                  >
                    <div
                      class="text-base font-semibold text-gray-900 dark:text-white"
                    >
                      <%= emailTemplate.from_name || '-' %>
                    </div>
                  </div>
                </td>

                <td
                  class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <%= emailTemplate.from_email || '-' %>
                </td>
                <td
                  class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <%= emailTemplate.email_category || '-' %>
                </td>
                <td
                  class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <%=emailTemplate.email_subject || '-' %>
                </td>
                <td
                  class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <% if (emailTemplate.status===true ||
                  emailTemplate.status==='true' ) { %>
                  <span
                    class="px-2 py-1 rounded bg-green-100 text-green-800 text-xs font-semibold"
                    >Active</span
                  >
                  <% } else { %>
                  <span
                    class="px-2 py-1 rounded bg-red-100 text-red-800 text-xs font-semibold"
                    >Inactive</span
                  >
                  <% } %>
                </td>

                <td class="p-4 space-x-2 whitespace-nowrap">
                  <% if (user?.permissions?.includes("edit_email_template")) {
                  %>

                  <a
                    href="/email-template/edit/<%= emailTemplate._id %>"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  >
                    <svg
                      class="w-4 h-4"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </a>
                  <% } %> <% if
                  (user?.permissions?.includes("delete_email_templates")) { %>

                  <button
                    type="button"
                    data-role-id="<%= emailTemplate._id %>" 
                    data-delete-url="/email-template/delete/<%= emailTemplate._id %>" 
                    data-modal-target="delete-emailTemplate-modal"
                    data-modal-toggle="delete-emailTemplate-modal"
                    class="delete-btn inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
                  >
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                  <% } %>
                </td>
              </tr>

              <% } %> <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/pagination', {
    pagination,
    query,
    queryString
  }) %>
  </div>
</div>
<%- include('../components/deleteModal', {
  modalId: "delete-emailTemplate-modal",
  itemType: "role"
}) %>
